<body>
  <h1>Database</h1>
  {{> search}}
  {{> employees}}
</body>

<template name="search">
<span>
  <input type="text" class="name" value="" placeholder="名前検索" />
</span>
</template>
<template name="employees">
  <table id="employees">
    <thead>
      <th>System ID</th>
      <th>名前</th>
      <th>年齢</th>
      <th>編集</th>
      <th>削除</th>
    </thead>
    <tbody>
      <tr class='add'>
        <td>&nbsp;</td>
        <td><input class="name" type="text" value="" placeholder="名前"></td>
        <td><input class="age" type="text" value="" placeholder="年齢"></td>
        <td>&nbsp;</td>
        <td><button class="add">追加</button></td>
      </tr>
      <!--tr class="search">
        <td>&nbsp;</td>
        <td><input class="name" type="text" value="" placeholder="名前検索"></td>
        <td><input class="age-search" type="text" value="" placeholder="年齢"></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr-->
      {{#each employees}}
        {{ > employee }}
      {{/each}}
    </tbody>
  </table>
</template>

