<head>
  <title>routes</title>
</head>

<body>
  {{> App_Info}}
  <hr/>
  {{> App_Body}}
</body>

<template name="App_Info">
<h1>App_Info</h1>
<p>Route Name : {{routeName}}</p>
<p>Param ID : {{id}} </p>
<!--p>（params._id： {{params_id}}）</p--><!--取得できない-->
<p>QueryParam query_param1 : {{queryParam1}}</p>
<p>QueryParam query_param2 : {{queryParam2}}</p>
</template>

<template name="App_Body">
<h1>App_Body</h1>
<ul>
{{#each list in lists}}
  <li><a class="list-todo {{activeListClass list}}">{{list.name}}</a></li>
{{/each}}
</ul>
</template>
