<head>
  <title>handlebars</title>
</head>

<body>
  <h1>Welcome to Meteor!</h1>

  {{> family}}
  {{> current_time}}

</body>


<template name="family">
  <p>ようこそ、{{person.name}}.</p>
  {{#with family}}
    <p>苗字は{{lastname}}。</p>
    {{#with mother}}
      <p>母は、{{name}}</p>
      <p>父は、{{../father.name}}</p>
    {{/with}}
  {{/with}}
</template>


<template name="current_time">
  {{# if oddSeconds}}
    現在時刻は{{dateString}}
  {{else}}
    現在時刻は{{now}}
  {{/if}}
</template>