<head>
  <title>template-events</title>
</head>

<body>
  <h1>Welcome to Meteor!</h1>

  {{> mainContent}}

</body>

<template name="mainContent">
  <button id="hello" class="greetings">Hello</button>
  <button id="goodMorning" class="greetings">Good Morning</button>
  <hr/>
  <input type="text" id="name"/><button id="greet">greet</button>
</template>
