<head>
  <title>template</title>
</head>

<body>
  <h1>Welcome to Meteor!</h1>

  {{> sample1}}
  {{> sample2}}
  {{> welcome yourname="Shoko" now="2016-07-01"}}
  {{> welcomeja }}

</body>

<template name="sample1">
  <p>This is my first template1...</p>
</template>

<template name="sample2">
  <p>This is my first template2...</p>
</template>

<template name="welcome"><!--引数で渡すことも可能-->
  <p>Hello, {{yourname}}. Now is {{now}}.</p>
</template>


<template name="welcomeja"><!--引数で渡すことも可能-->
  <p>ようこそ、{{yourname}}. 現在時刻は{{now}}</p>
</template>



