<body>
  <h1>Database</h1>
  {{> employees}}
</body>

<template name="employees">
  <table id="employees">
    <thead>
      <th>System ID</th>
      <th>名前</th>
      <th>年齢</th>
      <th>編集</th>
      <th>削除</th>
    </thead>
    <tbody>
      <tr>
        <td>&nbsp;</td>
        <td><input class="name" type="text" value="" placeholder="名前"></td>
        <td><input class="age" type="text" value="" placeholder="年齢"></td>
        <td>&nbsp;</td>
        <td><button class="add">追加</button></td>
      </tr>
      {{#each employees}}
        {{ > employee }}
      {{/each}}
    </tbody>
  </table>
</template>

