<template name="employee">
  <tr>
    <td class="id">{{_id}}</td>
    <td><input type="text" class="name" value="{{name}}"/></td>
    <td><input type="text" class="age" value="{{age}}" /></td>
    <td><button class="edit">編集</button></td>
    <td><button class="del">削除</button></td>
  </tr>
</template>